{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="styled-table">
    <thead>
        <tr>
            <th>IGN</th>
            <th>Tag</th>
            <th>Add/Drop</th>
            <th>Time-stamp</th>
        </tr>
    </thead>
    <tbody>
        {% for int in ints %}
        <tr>
            <td>{{ int.summ_name }}</td>
            <td>{{ int.summ_tag }}</td>
            <td>{{ int.bool }}</td>
            <td>{{ int.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
