{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<h1>Welcome to your Homepage!</h1>
<p>Here, you can see a current list of everyone who you have added, along with any notes you may have for them.</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>IGN</th>
            <th>Tag</th>
            <th>Notes</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        {% for int in ints %}
        <tr>
            <td class="notes-column">{{ int.summ_name }}</td>
            <td class="notes-column">{{ int.summ_tag }}</td>
            <td>{{ int.notes }}</td>
            <td class="notes-column">
                <div class="right-aligned">
                    <form action="/" method="post">
                        <input autocomplete="off" name="notes" placeholder="Notes" type="text">
                        <input name="puuid" type="hidden" value="{{ int.puuid }}">
                        <button type="submit">Update notes</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
